<div class="contactus">
    <h1>DROP <strong>ME A LINE</strong></h1>
    <form>
            <input type="text" placeholder="Your Name" class="name">
            <input type="email" placeholder="Your Email" class="email">
            <input type="text" placeholder="Your Subject" class="subject">
            <textarea placeholder="Your Message"></textarea><br>
            <input type="button" value="SHOOT MESSAGE" class="btn">
    </form>
    <p>Copyright © 2018 Ultra Profile . design: <a href="#">template mo</a></p>
</div>
