<div class="portfolio">
    <h2>MY <strong>PORTFOLIO</strong></h2>
    <div class="portfolio-imgs">
        <div>
            <ul>
                <li onclick="openCity(event, 'all');return false;" class="tablink active"><a href="#all" class="selected">All</a></li>
                <li onclick="openCity(event, 'html');return false;" class="tablink"><a href="#html">HTML</a></li>
                <li onclick="openCity(event, 'photoshop');return false;" class="tablink"><a href="#photoshop">Photoshop</a></li>
                <li onclick="openCity(event, 'wordpress');return false;" class="tablink"><a href="#wordpress">Wordpress</a></li>
                <li onclick="openCity(event, 'mobile');return false;" class="tablink"><a href="#mobile">Mobile</a></li>
            </ul>
            <div id="all" class="tabcontent"> 
                <img src="../../assets/images/portfolio-img1.jpg">
                <img src="../../assets/images/portfolio-img2.jpg">
                <img src="../../assets/images/portfolio-img3.jpg">
                <img src="../../assets/images/portfolio-img4.jpg">
                <img src="../../assets/images/portfolio-img5.jpg">
                <img src="../../assets/images/portfolio-img6.jpg">
                <img src="../../assets/images/portfolio-img7.jpg">
                <img src="../../assets/images/portfolio-img8.jpg">
            </div>
            <div id="html" class="tabcontent" style="display:none"> 
                <img src="../../assets/images/portfolio-img1.jpg">
                <img src="../../assets/images/portfolio-img2.jpg">
                <img src="../../assets/images/portfolio-img4.jpg">
                <img src="../../assets/images/portfolio-img6.jpg">
            </div>
            <div id="photoshop" class="tabcontent" style="display:none"> 
                <img src="../../assets/images/portfolio-img1.jpg">
                <img src="../../assets/images/portfolio-img6.jpg">
                <img src="../../assets/images/portfolio-img7.jpg">
            </div>
            <div id="wordpress" class="tabcontent" style="display:none"> 
                <img src="../../assets/images/portfolio-img1.jpg">
                <img src="../../assets/images/portfolio-img2.jpg">
                <img src="../../assets/images/portfolio-img3.jpg">
                <img src="../../assets/images/portfolio-img5.jpg">
                <img src="../../assets/images/portfolio-img8.jpg">
            </div>
            <div id="mobile" class="tabcontent" style="display:none"> 
                <img src="../../assets/images/portfolio-img1.jpg">
                <img src="../../assets/images/portfolio-img2.jpg">
                <img src="../../assets/images/portfolio-img4.jpg">
            </div>
        </div>
    </div>
</div>



