<div class="mywork">
    <h1>MY <strong>WORK</strong></h1>
    <div class="myworks">
        <div class="mywork1">
            <a>
                <i class="fa fa-link"></i>
                <h3>MOBILE UX</h3>
                <hr>
                <p>
                    Lorem ipsum dolor sit amet,<br>
                    consectetuer adipiscing elit, sed diam<br>
                    nonummy nibh euismod tincidunt ut<br>
                    laoreet. Dolore magna.
                </p>
            </a>
        </div>

        <div class="mywork1">
            <a>
                <i class="fa fa-bolt"></i>
                <h3>WEB DESIGN</h3>
                <hr>
                <p>
                    Lorem ipsum dolor sit amet,<br>
                    consectetuer adipiscing elit, sed diam<br>
                    nonummy nibh euismod tincidunt ut<br>
                    laoreet. Dolore magna.
                </p>
            </a>
        </div>
        <div class="mywork1">
            <a>
                <i class="fa fa-tachometer"></i>
                <h3>WEB DESIGN</h3>
                <hr>
                <p>
                    Lorem ipsum dolor sit amet,<br>
                    consectetuer adipiscing elit, sed diam<br>
                    nonummy nibh euismod tincidunt ut<br>
                    laoreet. Dolore magna.
                </p>
            </a>
        </div>
    </div>
</div>