<div class="resume">
    <div class="myprofile">
        <h1>
            MY<strong> PROFILE</strong>
        </h1>
        <div>
            <p><span class="label">Name</span>John White</p>
            <p><span class="label">Birthday</span>December 24, 1996</p>
            <p><span class="label">Address</span>Melbourne Victoria 3000 Australia</p>
            <p><span class="label">Phone</span>+001 020 0340 | 009 080 0760</p>
            <p><span class="label">Email</span>hello@company.com</p>
            <p><span class="label">Website</span>www.company.com</p>
        </div>
    </div>

    <div class="someskills">
        <h1>
            SOME<strong> SKILLS</strong>
        </h1>
        <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam<br>
            nonummy nibh euismod tincidunt ut laoreet. Dolore magna aliquam erat<br>
            volutpat.
        </p>
        
        <div class="skillbar">
            <p>BOOTSTRAP<span class="persentage">100%</span></p>
            <div class="container">
                <div class="skills bootstrap"></div>
            </div>
            <p>HTML5<span class="persentage">90%</span></p>
            <div class="container">
                <div class="skills html5"></div>
            </div>
            <p>SEO<span class="persentage">80%</span></p>
            <div class="container">
                <div class="skills seo"></div>
            </div>
        </div>
    </div>
</div>